body {
    overflow-x: hidden !important; 
    font-family: Arial, sans-serif;
  padding: 0;
    background-image: url(../img/3blxAGV.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
    
    color: #f8f8f8;
}


.im {
    display: flex;
    background: #000000;
    flex-direction:row;
    width: 85%;
    height: 200px;
    margin:auto;
    border-radius: 30px;
    
 }

header h1 {
    text-align: center;
    padding: 50px 60px;
    font-size: 50px;
    color: rgb(16, 5, 156);
    
}

.imm{
    
    width: 80% ;
}





/*menu*/
main{
   
    width: 90%;
    padding: 2px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;

}

.audios{
    display:block;
}

.controle{
   margin:25px auto;
    height: 25px;
    width: 100%;
    text-align: center;
    
}


li{
    border-radius: 10px;
   margin: 15px 5px ;
    background-color: #4d4bc700;
    padding:  7px ;
    transition: 1s;
 
}


li :hover{
    color: #ffffff;
    border-radius: 15px;
    background-color: #ff0000;
  
}

a{
   
    width:30px;
    border-radius: 20px;
    background-color: #f8f8f8
    ;
    color:rgb(201, 2, 45);
    padding: 7px 20px;

}


header img{
    margin: auto;
    width: 15%;
}
.perfil {
    border-radius: 59% 41% 76% 24% / 30% 73% 27% 70%  ;
    text-align: center;
    padding: 50px 90px;
    width: 50%;
    border: solid rgb(250, 8, 8) 2px;
    margin: auto;
    background-color: #575151d5;
}


.quem{
    display: flex;

}
.quem img{
    width: 1200px;
}
.dizem{
  
    margin: 50px auto;
    width: 60%;
    color: #ffffffe5;
    font-size: 55px;
    text-align: center;
}



.criador{
    display: flex;
    margin-top: 100px;
    margin-bottom: -8px;
    text-align: center;
    height: 50px;
    background-color: #c92331;
    width: 100%;
    
}
.dev{
    width: 500px;
    text-align: center;
    margin: auto;

}
/*.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #474747;
}*/






.testimonials h2 {
    margin: auto;
    width: 80%;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
   
}
.testimonials{
   margin-top: 60px;
}

.testemunho{
    text-align: center;
    margin: auto;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #c92331;
}





/*oque dizem do jm*/
.editable-text {
    max-width: 700px;
   
    padding: 10px;
    background: rgba(189, 137, 137, 0.664);
    border: 2px solid #ff5f6d;
    border-radius: 10px;
    min-height: 150px;
}

/*comentarios facebook*/
.fb-comments{
    width: 42%;
    color: #f8f8f8;
    margin-left: 30%;
    background-color: #ffffff;
}

.comentario{text-align: center;
    border-radius: 20px;
    box-shadow: #fd0000 1px 1px 25px 8px;
    color: #fdfdfd;
    background-color: #474646dc;
    font-size: 50px;
    margin: 25px auto;
    width: 60%;
}
.dev a{
    font-size: 20px;
}






/*back grounde tranparente*/
.back{
    background-color: rgba(24, 26, 27, 0);
}


/*Imgens que se move*/


/*body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.slider{
    margin: 0 auto;
    width: 650px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width:400%;
    height: 400px;
    display: flex;
    

}
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
   width: 650px;
}
.manual-navigation{
    position: absolute;
    width: 650px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px ;
    cursor:pointer;
    transition:1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-25%;
}
#radio3:checked ~ .first{
    margin-left:-50%;
}
#radio4:checked ~ .first{
    margin-left:-75%;
}
#radio5:checked ~ .first{
    margin-left:-100%;
}
.navigation-auto div{
    border: 2px solid rgb(65, 65, 243);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;


}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(255, 255, 255);
}



@media (max-width: 490px) {
    body {
       
        background-size: 100% 100%;
        overflow-x: hidden !important; 
        background-image: url(../img/pp.jpeg); 
     
    }

    .im {
        box-shadow: #f00000e8 1px 1px 15px 5px;
        background-color: #000000d3;
        margin: auto;
        border:solid rgb(255, 254, 254) 4px;
        flex-direction: column;
        width: 95%;
        height: 150px;
      
    }

    header h1 {
        font-size: 36px;
        padding: 30px 20px;
    }

    .imm {
        
        width: 100%;
    }

    main {
        
        font-size: 20px;
        margin-top:-8px;
        width: 100%;
        flex-direction: row;
        margin-bottom: 25px;
       
    }
    
    

    li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        padding: 10px;
        width: 100%;
    }

    header img {
        width: 25%;
    }

    .perfil {
        margin-top:20px;
        border-radius: 25px;
        width: 98%;
        padding: 15px 0px;
    }

    .quem {
        
        flex-direction: column;
    }

    .quem img {
        display: none;
        width: 50%;
    }

    .quem ul {
        font-size: 20px;
        margin-right: 25px;
    }
    
   .dizem{
    text-align: center;
    width: 100%;
    margin-top: 80px;
    font-size: 26px;
   }


    .editable-text {
        width: 90%;
    }

    .fb-comments {
        margin: auto;
        
    }

    
    }
        @media(max-width:490px){
    .slider {
       
        width: 99%;
        height: auto;
    }

    .slide img {
        
        width: 100%;
    }

    .manual-navigation,
    .navigation-auto {

       
        width: 100%;
        margin-top: -200px;
    }

    .manual-btn,
    .navigation-auto div {
      
        margin: 0 10px;
    }
} /*final slid*/
@media(max-width:490px){

    .dev{
        text-align: center;
        width: 95%;
      padding: 25px 25px;
        font-size: 10px;

    }
    .criador{
       
        display: flex;
        margin-top: 100px;
        margin-bottom: -8px;
        text-align: center;
        height: 80px;
        background-color: #c92331;
        width: 100%;
    }
}
    h3{
      
        width: 100%;
    }
    @media (max-width: 490px){
    .dev a{
        box-shadow: #0f0f0f 1px 1px 25px 8px;
        text-decoration:  none;
        font-size: 13px;
        width: 100%;
        text-decoration:  none;
    }
}
    @media(max-width:490px){
    .face{
      
        background-color: #ffffff;
    }

    .audios{
        display: block;
        text-align: center;
        margin: auto;
    
    }
    .comentario{
        padding: 5px;
        width: 90%;
        border-radius: 18px;
        box-shadow: #fd0000 1px 1px 25px 8px;
        color: #fdfdfd;
        background-color: #474646dc;
        font-size: 22px;
        text-align: center;
        

    }
    .controle{
        width: 100%;
    }
    .controle button{
        padding: 9px;
        width: 70px;
    }

}
    



